li.active{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #ff105e;
    left: 0;
    bottom: -7px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation: appear 0.2s linear;
    z-index: 2;
  }
  @keyframes appear {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }