.small-info{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.8);

}
.info-card{
    position: relative;

}
.stick{
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: red;
    right: 0;
    
   
}

.footer-menu h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffff;


}
.footer-menu li a{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 40px;
    text-transform: capitalize;
    color: #ffff;
}
.socal{
    display: flex;
    gap: 5%;
}



